@font-face {
  font-family: 'Ubuntu';
  src: url('./font/Ubuntu-Regular.ttf') format('truetype'),
    url('./font/Ubuntu-Regular.woff2') format('woff2'),
    url('./font/Ubuntu-Regular.woff') format('woff');

  font-display: block;
}

:root {
  --main-bg-color: rgba(236, 233, 229, 0.973);
  --main-border-color: cornflowerblue;
  --main-transition: all 0.2s;
  --main-font-size: 16px;
}

body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--main-bg-color);
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--main-font-size);
  transition: all 0.5s;
}

.main-button_style {
  position: relative;
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
  border: none;
  color: aliceblue;
  max-width: fit-content;
  max-width: -moz-fit-content;
  padding: 5px 10px;
  font-weight: normal;
  text-decoration: none;
  font-size: var(--main-font-size);
  transition: transform 0.2s;
}

.black-btn:focus {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.92);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.92);
}

.black-btn:before {
  top: 0;
  bottom: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  content: '';
  height: 100%;
}

.black-btn:hover:before {
  animation: focus-left 0.5s;
  animation-fill-mode: forwards;
  background-color: rgba(180, 180, 180, 0.336);
}

@keyframes focus-left {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 50%;
    left: 0;
  }
}

.black-btn:after {
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  content: '';
  height: 100%;
}

.black-btn:hover:after {
  animation: focus-right 0.5s;
  background-color: rgba(180, 180, 180, 0.336);
}

@keyframes focus-right {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  margin: 0.5rem 0;
}

input {
  padding: 2px;
}
