@media screen and (max-width: 415px) {
    h3 {
        margin-bottom: 0.5rem;
    }

    .history {
        border: 1px solid black;
        border-radius: 10px;
        width: fit-content;
        margin: 10px auto;
        padding: 5px;
        text-decoration: none;
        color: var(--main-bg-color);
        background: black;
        font-size: 0.8rem;
        font-weight: normal;
    }

    .grid-header {
        grid-template-columns: 250px;
        text-align: center;
        justify-content: center;
    }

    .under-income_sign {
        display: block;
        font-size: 0.8rem;
    }

    .subheader_two {
        margin-top: 1rem;
    }

    .subheader_two input[name='notes'] {

        margin: 0 auto;
    }

    .notebook {
        margin-left: 2.5rem;
        margin-top: 1rem;
    }

    .mobile_notesButton {
        display: inline;
    }

    .mobile_closedNotes {
        display: none;
    }

    .monthlyColumns {
        width: 250px;
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        padding: 30px 20px 30px 50px;
    }

    .columns {
        margin-right: 10px;
        position: relative;
        z-index: 1;
    }

    .sum-section {
        margin: 0 auto;
    }

    .block {
        position: fixed;
        width: 100px;
        height: 380px;
        /* border: 2px solid black; */
        background: rgba(236, 233, 229, 0.973);
        opacity: 0.8;
        left: 77%;
        top: 36%;
        border-radius: 20px;
        z-index: 10;
    }

    #block_one {
        left: -5%;
    }
}